.individual {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-individual {
  width: 360px;
}
.product-img-individual {
  display: flex;
}
.imgs-cont-individual {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.imgs-cont-individual img {
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 100px;
}

.info-individual {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
}
.info-individual > * {
  margin: 10px;
}
.elem-individual {
  width: 85%;
  display: flex;

  justify-content: space-between;
}
.btn-individual {
  background: none;
}
.btn-individual,
.desc-individual {
  width: 300px;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .individual {
    flex-direction: column;
    align-items: center;
  }
  .product-img-individual {
    flex-direction: column-reverse;
  }
  .imgs-cont-individual {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 5px;
  }
}
