.ul-nav * {
  list-style: none;
  font-size: 24px;
}
.ul-nav {
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #fff;
  padding: 12px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 10;
  background: #000;
}
.search {
  width: 30px;
}
.btn-nav {
  background: none;
  border: none;
}

nav {
  background: #f00;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
}

li *:hover {
  color: #000;
}

li input:hover {
  color: #fff;
}
