.h2-trending {
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin: 40px 0px;
  font-weight: 300;
}

.product-cont {
  position: relative;
  margin: 20px 0px;
}

.productx {
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  width: auto;
  height: 500px;
}
.desc-product {
  width: max-content;
  margin-left: 5px;
}

.h3-product {
  font-weight: 300;
}

.hover-cont {
  position: relative;
  cursor: pointer;
  width: max-content;
}
