.cont-product-trending {
  width: 350px;
  display: flex;
  margin-top: 20px;
}

.product {
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 320px;
}
.desc-product {
  margin-top: 15px;
  margin-left: 5px;
}
.h3-product {
  font-weight: 300;
  position: absolute;
}
.btn-product {
  background: none;
  border: none;
}

.h4-product,
.btn-product {
  width: 100%;
  text-align: right;
}
