form {
  border: 1px solid #fff;
  width: 40vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.but-form {
  border: 1px solid #fff;
  padding: 12px;
  margin: 30px auto;
  font-weight: 300;
  font-size: 24px;
}

.input-form {
  width: 90%;
  margin: auto;
  display: block;
}

.input-form::placeholder {
  font-size: 18px;
}
