main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/x4k.webp");
  height: 400px;
  background-size: contain;
  background-position: 50px -200px;
  background-attachment: fixed;
  width: 100vw;
}

@media (max-width: 1000px) {
  main img {
    height: 200px;
  }
  main {
    height: 200px;
  }
}
